Teams
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "properties": {
                            "IncludeSearchResults": {
                                "type": "boolean"
                            },
                            "alertname": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                }
            }
        },
        "actions": {
            "Body_Contains_schemaId": {
                "actions": {
                    "eventSource_=_Null": {
                        "actions": {
                            "monitoingService_-_Common_alert": {
                                "cases": {
                                    "monitoringService_=_Resource_Health": {
                                        "case": "Resource Health",
                                        "actions": {
                                            "Post_card_in_a_chat_or_channel_-_Post_Resource_health": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['teams']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "body": {
                                                        "recipient": {
                                                            "groupId": "1dd16b9d-85dc-42b4-a5c4-4d2362bfbd39",
                                                            "channelId": "19:89bb8b4d816e4077bec013573fc7930c@thread.tacv2"
                                                        },
                                                        "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.5\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"speak\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['title']}\",\n    \"themeColor\": \"0072C6\",\n    \"body\": [\n      {\n        \"type\": \"ColumnSet\",\n        \"columns\": [\n          {\n            \"type\": \"Column\",\n            \"width\": \"auto\",\n            \"items\": [\n              {\n                \"type\": \"Image\",\n                \"url\": \"https://azure.microsoft.com/svghandler/Service-Health/?width=100&height=100\",\n                \"size\": \"Small\",\n                \"style\": \"Default\",\n                \"alttext\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['title']}\"\n              }\n            ]\n          },\n          {\n            \"type\": \"Column\",\n            \"width\": \"stretch\",\n            \"items\": [\n              {\n                \"type\": \"TextBlock\",\n                \"text\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['title']}\",\n                \"size\": \"Large\",\n                \"weight\": \"Bolder\",\n                \"color\": \"accent\",\n                \"wrap\": true\n              }\n            ]\n          }\n        ]\n      },\n      {\n        \"type\": \"TextBlock\",\n        \"text\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['details']}\",\n        \"wrap\": true\n      },\n      {\n        \"type\": \"FactSet\",\n        \"facts\": [\n          {\n            \"title\": \"Fired Time:\",\n            \"value\": \"@{if(not(equals(triggerBody()?['data']?['essentials']?['firedDateTime'], null)), formatDateTime(convertFromUtc(triggerBody()?['data']?['essentials']?['firedDateTime'], 'GMT Standard Time'), 'dd/MM/yyyy HH:mm:ss'), null)}\"\n          },\n          {\n            \"title\": \"Severity:\",\n            \"value\": \"@{triggerBody()?['data']?['essentials']?['severity']}\"\n          },\n          {\n            \"title\": \"Monitor Condition:\",\n            \"value\": \"@{triggerBody()?['data']?['essentials']?['monitorCondition']}\"\n          },\n          {\n            \"title\": \"Current Health Status:\",\n            \"value\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['currentHealthStatus']}\"\n          },\n          {\n            \"title\": \"Previous Health Status:\",\n            \"value\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['previousHealthStatus']}\"\n          },\n          {\n            \"title\": \"Type:\",\n            \"value\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['type']}\"\n          },\n          {\n            \"title\": \"Cause:\",\n            \"value\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['cause']}\"\n          },\n          {\n            \"title\": \"Resource ID:\",\n            \"value\": \"@{triggerBody()?['data']?['essentials']?['alertTargetIDs']?[0]}\"\n          },\n          {\n            \"title\": \"Configuration Item:\",\n            \"value\": \"@{triggerBody()?['data']?['essentials']?['configurationItems']?[0]}\"\n          },\n          {\n            \"title\": \"Alert Status:\",\n            \"value\": \"@{triggerBody()?['data']?['alertContext']?['status']}\"\n          }\n        ]\n      }\n    ],\n    \"actions\": [\n      {\n        \"type\": \"Action.OpenUrl\",\n        \"title\": \"Azure Monitor\",\n        \"url\": \"https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2\"\n      }\n    ]\n  }\n  "
                                                    },
                                                    "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                }
                                            }
                                        }
                                    },
                                    "monitoringService_=_ServiceHealth": {
                                        "case": "ServiceHealth",
                                        "actions": {
                                            "For_each": {
                                                "foreach": "@outputs('Parse_JSON')?['body'][0]['ImpactedRegions']",
                                                "actions": {
                                                    "Compose": {
                                                        "runAfter": {
                                                            "Select": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "Compose",
                                                        "inputs": "@join(body('Select'), ', ')"
                                                    },
                                                    "Select": {
                                                        "type": "Select",
                                                        "inputs": {
                                                            "from": "@outputs('Parse_JSON')?['body'][0]['ImpactedRegions']",
                                                            "select": "@item()['RegionName']"
                                                        }
                                                    },
                                                    "Set_variable": {
                                                        "runAfter": {
                                                            "Compose": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "ImpactedRegions",
                                                            "value": "@outputs('Compose')"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Parse_JSON": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Foreach"
                                            },
                                            "Parse_JSON": {
                                                "runAfter": {
                                                    "Html_to_text__-_Communication": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson",
                                                "inputs": {
                                                    "content": "@triggerBody()?['data']?['alertContext']?['properties']?['impactedServices']",
                                                    "schema": {
                                                        "impactedServices": [
                                                            {
                                                                "ImpactedRegions": [
                                                                    {
                                                                        "RegionId": "string",
                                                                        "RegionName": "string"
                                                                    }
                                                                ],
                                                                "ServiceGuid": "string",
                                                                "ServiceId": "string",
                                                                "ServiceName": "string"
                                                            }
                                                        ]
                                                    }
                                                }
                                            },
                                            "Html_to_text__-_Communication": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['conversionservice-1']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "body": "<p class=\"editor-paragraph\">@{triggerBody()?['data']?['alertContext']?['properties']?['communication']}</p>",
                                                    "path": "/html2text"
                                                }
                                            },
                                            "Post_card_in_a_chat_or_channel__-_Post_Service_health": {
                                                "runAfter": {
                                                    "For_each": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['teams']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "body": {
                                                        "recipient": {
                                                            "groupId": "1dd16b9d-85dc-42b4-a5c4-4d2362bfbd39",
                                                            "channelId": "19:89bb8b4d816e4077bec013573fc7930c@thread.tacv2"
                                                        },
                                                        "messageBody": "{\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.5\",\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"speak\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['title']}\",\n  \"themeColor\": \"0072C6\",\n  \"body\": [\n    {\n      \"type\": \"ColumnSet\",\n      \"columns\": [\n        {\n          \"type\": \"Column\",\n          \"width\": \"auto\",\n          \"items\": [\n            {\n              \"type\": \"Image\",\n              \"url\": \"https://azure.microsoft.com/svghandler/Service-Health/?width=100&height=100\",\n              \"size\": \"Small\",\n              \"style\": \"Default\",\n              \"altText\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['title']}\"\n            }\n          ]\n        },\n        {\n          \"type\": \"Column\",\n          \"width\": \"stretch\",\n          \"items\": [\n            {\n              \"type\": \"TextBlock\",\n              \"text\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['title']}\",\n              \"size\": \"Large\",\n              \"weight\": \"Bolder\",\n              \"color\": \"accent\",\n              \"wrap\": true\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"@{body('Html_to_text__-_Communication')}\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n        {\n          \"title\": \"Fired Time:\",\n          \"value\": \"@{if(not(equals(triggerBody()?['data']?['essentials']?['firedDateTime'], null)), formatDateTime(convertFromUtc(triggerBody()?['data']?['essentials']?['firedDateTime'], 'GMT Standard Time'), 'dd/MM/yyyy HH:mm:ss'), null)}\"\n        },\n        {\n          \"title\": \"Severity:\",\n          \"value\": \"@{triggerBody()?['data']?['essentials']?['severity']}\"\n        },\n        {\n          \"title\": \"Monitor Condition:\",\n          \"value\": \"@{triggerBody()?['data']?['essentials']?['monitorCondition']}\"\n        },\n        {\n          \"title\": \"Service:\",\n          \"value\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['service']}\"\n        },\n        {\n          \"title\": \"Impacted Regions:\",\n          \"value\": \"@{variables('ImpactedRegions')}\"\n        },\n        {\n          \"title\": \"Incident Type:\",\n          \"value\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['incidentType']}\"\n        },\n        {\n          \"title\": \"Impact Start Time:\",\n          \"value\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['impactStartTime']}\"\n        },\n        {\n          \"title\": \"Stage:\",\n          \"value\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['Stage']}\"\n        },\n        {\n          \"title\": \"Resource ID:\",\n          \"value\": \"@{triggerBody()?['data']?['essentials']?['alertTargetIDs']?[0]}\"\n        },\n        {\n          \"title\": \"Configuration Item:\",\n          \"value\": \"@{triggerBody()?['data']?['essentials']?['configurationItems']?[0]}\"\n        },\n        {\n          \"title\": \"Tracking ID:\",\n          \"value\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['trackingId']}\"\n        },\n        {\n          \"title\": \"Communication ID:\",\n          \"value\": \"@{triggerBody()?['data']?['alertContext']?['properties']?['communicationId']}\"\n        },\n        {\n          \"title\": \"Alert Status:\",\n          \"value\": \"@{triggerBody()?['data']?['alertContext']?['status']}\"\n        }\n      ]\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Azure Monitor\",\n      \"url\": \"https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2\"\n    }\n  ]\n}"
                                                    },
                                                    "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                }
                                            }
                                        }
                                    }
                                },
                                "default": {
                                    "actions": {
                                        "signalType_-_Common_alert": {
                                            "cases": {
                                                "signalType_=_Activity_Log": {
                                                    "case": "Activity Log",
                                                    "actions": {
                                                        "Severity_-_Common_alert_-_Activity_Log": {
                                                            "cases": {
                                                                "Sev0_(Critical)_-_Common_alert__-_Activity_Log": {
                                                                    "case": "Sev0",
                                                                    "actions": {
                                                                        "Post_card_in_a_chat_or_channel_Activity_Log_-_Sev0_-_Common_alert_": {
                                                                            "type": "ApiConnection",
                                                                            "inputs": {
                                                                                "host": {
                                                                                    "connection": {
                                                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                                                    }
                                                                                },
                                                                                "method": "post",
                                                                                "body": {
                                                                                    "recipient": {
                                                                                        "groupId": "1dd16b9d-85dc-42b4-a5c4-4d2362bfbd39",
                                                                                        "channelId": "19:d500d27bd2464011b4fe614bb3184818@thread.tacv2"
                                                                                    },
                                                                                    "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.5\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"speak\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\",\n    \"themeColor\": \"0072C6\",\n  \"body\": [\n    {\n      \"type\": \"ColumnSet\",\n      \"columns\": [\n        {\n          \"type\": \"Column\",\n          \"width\": \"auto\",\n          \"items\": [\n            {\n              \"type\": \"Image\",\n              \"url\": \"https://azure.microsoft.com/svghandler/Alerts/?width=100&height=100\",\n              \"size\": \"Small\",\n              \"style\": \"Default\",\n              \"altText\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\"\n            }\n          ]\n        },\n        {\n          \"type\": \"Column\",\n          \"width\": \"stretch\",\n          \"items\": [\n            {\n              \"type\": \"TextBlock\",\n              \"text\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\",\n              \"size\": \"Large\",\n              \"weight\": \"Bolder\",\n              \"color\": \"@{if(equals(triggerBody()?['data']?['essentials']?['monitorCondition'],'Resolved'),'good',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev0'),'attention',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev1'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev2'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev3'),'accent',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev4'),'accent','good'))))))}\",\n              \"wrap\": true\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"@{triggerBody()?['data']?['essentials']?['description']}\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n               {\n                \"title\": \"Fired Time:\",\n                \"value\": \"@{if(\n    not(equals(triggerBody()?['data']?['essentials']?['firedDateTime'], null)),\n    formatDateTime(\n        convertFromUtc(\n            triggerBody()?['data']?['essentials']?['firedDateTime'], \n            'GMT Standard Time'\n        ), \n        'dd/MM/yyyy HH:mm:ss'\n    ),\n    null\n)}\"\n              },\n              @{if(not(equals(triggerBody()?['data']?['essentials']?['resolvedDateTime'], null)),\n  concat(json(variables('resolvedTimeString')),','),\n  null\n)}\n              @{if(not(equals(triggerBody()?['data']?['essentials']?['resolvedDateTime'], null)),\n  concat(json(variables('resolvedDurationString')),','),\n  null\n)}\n{\n    \"title\": \"Severity:\",\n    \"value\": @{triggerBody()?['data']?['essentials']?['severity']}\n  },\n  {\n    \"title\": \"Monitor Condition:\",\n    \"value\": @{triggerBody()?['data']?['essentials']?['monitorCondition']}\n  },\n  {\n    \"title\": \"Caller:\",\n    \"value\": @{triggerBody()?['data']?['alertContext']?['caller']}\n  },\n  {\n    \"title\": \"Message:\",\n    \"value\": @{triggerBody()?['data']?['alertContext']?['properties']?['message']}\n  },\n  {\n    \"title\": \"Monitoring Service:\",\n    \"value\": @{triggerBody()?['data']?['essentials']?['monitoringService']}\n  },\n  {\n    \"title\": \"Resource ID:\",\n    \"value\": @{triggerBody()?['data']?['essentials']?['alertTargetIDs']?[0]}\n  },\n  {\n    \"title\": \"Configuration Item:\",\n    \"value\": @{triggerBody()?['data']?['essentials']?['configurationItems']?[0]}\n  }\n      ]\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Azure Monitor\",\n      \"url\": \"https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2\"\n    },\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Search Results\",\n      \"url\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['linkToSearchResultsUI']}\"\n    }\n  ]\n}"
                                                                                },
                                                                                "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                                            }
                                                                        },
                                                                        "Post_message_in_a_chat_or_channel_Activity_Log_-_Sev0_-_Common_alert_": {
                                                                            "type": "ApiConnection",
                                                                            "inputs": {
                                                                                "host": {
                                                                                    "connection": {
                                                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                                                    }
                                                                                },
                                                                                "method": "post",
                                                                                "body": {
                                                                                    "recipient": {
                                                                                        "groupId": "1dd16b9d-85dc-42b4-a5c4-4d2362bfbd39",
                                                                                        "channelId": "19:24c7c668d4444a2eb2e33f7e60ef54dc@thread.tacv2"
                                                                                    },
                                                                                    "messageBody": "<p class=\"editor-paragraph\">@{triggerBody()?['data']?['alertContext']?['properties']?['title']}</p>"
                                                                                },
                                                                                "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "Sev1_(Error)_-_Common_alert__-_Activity_Log": {
                                                                    "case": "Sev1",
                                                                    "actions": {
                                                                        "Post_card_in_a_chat_or_channel_Activity_Log_-_Sev1_-_Common_alert": {
                                                                            "type": "ApiConnection",
                                                                            "inputs": {
                                                                                "host": {
                                                                                    "connection": {
                                                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                                                    }
                                                                                },
                                                                                "method": "post",
                                                                                "body": {
                                                                                    "recipient": {
                                                                                        "groupId": "1dd16b9d-85dc-42b4-a5c4-4d2362bfbd39",
                                                                                        "channelId": "19:d500d27bd2464011b4fe614bb3184818@thread.tacv2"
                                                                                    },
                                                                                    "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.5\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"speak\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\",\n    \"themeColor\": \"0072C6\",\n  \"body\": [\n    {\n      \"type\": \"ColumnSet\",\n      \"columns\": [\n        {\n          \"type\": \"Column\",\n          \"width\": \"auto\",\n          \"items\": [\n            {\n              \"type\": \"Image\",\n              \"url\": \"https://azure.microsoft.com/svghandler/Alerts/?width=100&height=100\",\n              \"size\": \"Small\",\n              \"style\": \"Default\",\n              \"altText\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\"\n            }\n          ]\n        },\n        {\n          \"type\": \"Column\",\n          \"width\": \"stretch\",\n          \"items\": [\n            {\n              \"type\": \"TextBlock\",\n              \"text\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\",\n              \"size\": \"Large\",\n              \"weight\": \"Bolder\",\n              \"color\": \"@{if(equals(triggerBody()?['data']?['essentials']?['monitorCondition'],'Resolved'),'good',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev0'),'attention',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev1'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev2'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev3'),'accent',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev4'),'accent','good'))))))}\",\n              \"wrap\": true\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"@{triggerBody()?['data']?['essentials']?['description']}\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n               {\n                \"title\": \"Fired Time:\",\n                \"value\": \"@{if(\n    not(equals(triggerBody()?['data']?['essentials']?['firedDateTime'], null)),\n    formatDateTime(\n        convertFromUtc(\n            triggerBody()?['data']?['essentials']?['firedDateTime'], \n            'GMT Standard Time'\n        ), \n        'dd/MM/yyyy HH:mm:ss'\n    ),\n    null\n)}\"\n              },\n              @{if(not(equals(triggerBody()?['data']?['essentials']?['resolvedDateTime'], null)),\n  concat(json(variables('resolvedTimeString')),','),\n  null\n)}\n              @{if(not(equals(triggerBody()?['data']?['essentials']?['resolvedDateTime'], null)),\n  concat(json(variables('resolvedDurationString')),','),\n  null\n)}\n{\n    \"title\": \"Severity:\",\n    \"value\": @{triggerBody()?['data']?['essentials']?['severity']}\n  },\n  {\n    \"title\": \"Monitor Condition:\",\n    \"value\": @{triggerBody()?['data']?['essentials']?['monitorCondition']}\n  },\n  {\n    \"title\": \"Caller:\",\n    \"value\": @{triggerBody()?['data']?['alertContext']?['caller']}\n  },\n  {\n    \"title\": \"Message:\",\n    \"value\": @{triggerBody()?['data']?['alertContext']?['properties']?['message']}\n  },\n  {\n    \"title\": \"Monitoring Service:\",\n    \"value\": @{triggerBody()?['data']?['essentials']?['monitoringService']}\n  },\n  {\n    \"title\": \"Resource ID:\",\n    \"value\": @{triggerBody()?['data']?['essentials']?['alertTargetIDs']?[0]}\n  },\n  {\n    \"title\": \"Configuration Item:\",\n    \"value\": @{triggerBody()?['data']?['essentials']?['configurationItems']?[0]}\n  }\n      ]\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Azure Monitor\",\n      \"url\": \"https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2\"\n    },\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Search Results\",\n      \"url\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['linkToSearchResultsUI']}\"\n    }\n  ]\n}"
                                                                                },
                                                                                "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                                            }
                                                                        },
                                                                        "Post_message_in_a_chat_or_channel_Activity_Log_-_Sev1_-_Common_alert": {
                                                                            "type": "ApiConnection",
                                                                            "inputs": {
                                                                                "host": {
                                                                                    "connection": {
                                                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                                                    }
                                                                                },
                                                                                "method": "post",
                                                                                "body": {
                                                                                    "recipient": {
                                                                                        "groupId": "1dd16b9d-85dc-42b4-a5c4-4d2362bfbd39",
                                                                                        "channelId": "19:24c7c668d4444a2eb2e33f7e60ef54dc@thread.tacv2"
                                                                                    },
                                                                                    "messageBody": "<p class=\"editor-paragraph\">@{triggerBody()?['data']?['alertContext']?['properties']?['title']}</p>"
                                                                                },
                                                                                "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "default": {
                                                                "actions": {
                                                                    "Post_card_in_a_chat_or_channel_Activity_Log_-_Common_alert": {
                                                                        "type": "ApiConnection",
                                                                        "inputs": {
                                                                            "host": {
                                                                                "connection": {
                                                                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                                                                }
                                                                            },
                                                                            "method": "post",
                                                                            "body": {
                                                                                "recipient": {
                                                                                    "groupId": "1dd16b9d-85dc-42b4-a5c4-4d2362bfbd39",
                                                                                    "channelId": "19:89bb8b4d816e4077bec013573fc7930c@thread.tacv2"
                                                                                },
                                                                                "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.5\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"speak\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\",\n    \"themeColor\": \"0072C6\",\n  \"body\": [\n    {\n      \"type\": \"ColumnSet\",\n      \"columns\": [\n        {\n          \"type\": \"Column\",\n          \"width\": \"auto\",\n          \"items\": [\n            {\n              \"type\": \"Image\",\n              \"url\": \"https://azure.microsoft.com/svghandler/Alerts/?width=100&height=100\",\n              \"size\": \"Small\",\n              \"style\": \"Default\",\n              \"altText\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\"\n            }\n          ]\n        },\n        {\n          \"type\": \"Column\",\n          \"width\": \"stretch\",\n          \"items\": [\n            {\n              \"type\": \"TextBlock\",\n              \"text\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\",\n              \"size\": \"Large\",\n              \"weight\": \"Bolder\",\n              \"color\": \"@{if(equals(triggerBody()?['data']?['essentials']?['monitorCondition'],'Resolved'),'good',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev0'),'attention',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev1'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev2'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev3'),'accent',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev4'),'accent','good'))))))}\",\n              \"wrap\": true\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"@{triggerBody()?['data']?['essentials']?['description']}\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n               {\n                \"title\": \"Fired Time:\",\n                \"value\": \"@{if(\n    not(equals(triggerBody()?['data']?['essentials']?['firedDateTime'], null)),\n    formatDateTime(\n        convertFromUtc(\n            triggerBody()?['data']?['essentials']?['firedDateTime'], \n            'GMT Standard Time'\n        ), \n        'dd/MM/yyyy HH:mm:ss'\n    ),\n    null\n)}\"\n              },\n              @{if(not(equals(triggerBody()?['data']?['essentials']?['resolvedDateTime'], null)), concat(json(variables('resolvedTimeString')),','), null)}\n              @{if(not(equals(triggerBody()?['data']?['essentials']?['resolvedDateTime'], null)), concat(json(variables('resolvedDurationString')),','),null)}\n            {\n                \"title\": \"Severity:\",\n                \"value\": @{triggerBody()?['data']?['essentials']?['severity']}\n            },\n            {\n                \"title\": \"Monitor Condition:\",\n                \"value\": @{triggerBody()?['data']?['essentials']?['monitorCondition']}\n            },\n            {\n                \"title\": \"Caller:\",\n                \"value\": @{triggerBody()?['data']?['alertContext']?['caller']}\n            },\n            {\n                \"title\": \"Message:\",\n                \"value\": @{triggerBody()?['data']?['alertContext']?['properties']?['message']}\n            },\n            {\n                \"title\": \"Monitoring Service:\",\n                \"value\": @{triggerBody()?['data']?['essentials']?['monitoringService']}\n            },\n            {\n                \"title\": \"Resource ID:\",\n                \"value\": @{triggerBody()?['data']?['essentials']?['alertTargetIDs']?[0]}\n            },\n            {\n                \"title\": \"Configuration Item:\",\n                \"value\": @{triggerBody()?['data']?['essentials']?['configurationItems']?[0]}\n            }\n      ]\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Azure Monitor\",\n      \"url\": \"https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2\"\n    },\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Search Results\",\n      \"url\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['linkToSearchResultsUI']}\"\n    }\n  ]\n}"
                                                                            },
                                                                            "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "expression": "@triggerBody()?['data']?['essentials']?['severity']",
                                                            "type": "Switch"
                                                        }
                                                    }
                                                }
                                            },
                                            "default": {
                                                "actions": {
                                                    "Severity_-_Common_alert_-_Default": {
                                                        "cases": {
                                                            "Sev0_(Critical)_-_Common_alert": {
                                                                "case": "Sev0",
                                                                "actions": {
                                                                    "Post_card_in_a_chat_or_channel_Default_-_Sev0_-_Common_alert": {
                                                                        "type": "ApiConnection",
                                                                        "inputs": {
                                                                            "host": {
                                                                                "connection": {
                                                                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                                                                }
                                                                            },
                                                                            "method": "post",
                                                                            "body": {
                                                                                "recipient": {
                                                                                    "groupId": "1dd16b9d-85dc-42b4-a5c4-4d2362bfbd39",
                                                                                    "channelId": "19:d500d27bd2464011b4fe614bb3184818@thread.tacv2"
                                                                                },
                                                                                "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.5\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"speak\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\",\n    \"themeColor\": \"0072C6\",\n  \"body\": [\n    {\n      \"type\": \"ColumnSet\",\n      \"columns\": [\n        {\n          \"type\": \"Column\",\n          \"width\": \"auto\",\n          \"items\": [\n            {\n              \"type\": \"Image\",\n              \"url\": \"https://azure.microsoft.com/svghandler/Alerts/?width=100&height=100\",\n              \"size\": \"Small\",\n              \"style\": \"Default\",\n              \"altText\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\"\n            }\n          ]\n        },\n        {\n          \"type\": \"Column\",\n          \"width\": \"stretch\",\n          \"items\": [\n            {\n              \"type\": \"TextBlock\",\n              \"text\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\",\n              \"size\": \"Large\",\n              \"weight\": \"Bolder\",\n              \"color\": \"@{if(equals(triggerBody()?['data']?['essentials']?['monitorCondition'],'Resolved'),'good',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev0'),'attention',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev1'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev2'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev3'),'accent',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev4'),'accent','good'))))))}\",\n              \"wrap\": true\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"@{triggerBody()?['data']?['essentials']?['description']}\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n               {\n                \"title\": \"Fired Time:\",\n                \"value\": \"@{if(\n    not(equals(triggerBody()?['data']?['essentials']?['firedDateTime'], null)),\n    formatDateTime(\n        convertFromUtc(\n            triggerBody()?['data']?['essentials']?['firedDateTime'], \n            'GMT Standard Time'\n        ), \n        'dd/MM/yyyy HH:mm:ss'\n    ),\n    null\n)}\"\n              },\n              @{if(not(equals(triggerBody()?['data']?['essentials']?['resolvedDateTime'], null)),\n  concat(json(variables('resolvedTimeString')),','),\n  null\n)}\n              @{if(not(equals(triggerBody()?['data']?['essentials']?['resolvedDateTime'], null)),\r\n  concat(json(variables('resolvedDurationString')),','),\r\n  null\r\n)}\n              {\n                \"title\": \"Severity:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['severity']}\"\n              },\n              {\n                \"title\": \"Monitor Condition:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['monitorCondition']}\"\n              },\n@{if(not(equals(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['metricName'], null)),\n  concat(json(concat('{\"title\":\"Metric Name\",\"value\":\"', triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['metricName'], '\"}')), ','),\n  null\n)}\n@{if(not(equals(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['searchQuery'], null)),\n  concat(json(concat('{\"title\":\"Search Query\",\"value\":\"', replace(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['searchQuery'],'\"','\\\"'), '\"}')), ','),\n  null\n)}\n              {\n                \"title\": \"Operator:\",\n                \"value\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['operator']}\"\n              },\n              {\n                \"title\": \"Threshold:\",\n                \"value\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['threshold']}\"\n              },\n              {\n                \"title\": \"Time Aggregation:\",\n                \"value\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['timeAggregation']}\"\n              },\n              {\n                \"title\": \"Metric Value:\",\n                \"value\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['metricValue']}\"\n              },\n              {\n                \"title\": \"Monitoring Service:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['monitoringService']}\"\n              },\n              {\n                \"title\": \"Resource ID:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['alertTargetIDs']?[0]}\"\n              },\n              {\n                \"title\": \"Configuration Item:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['configurationItems']?[0]}\"\n              }\n      ]\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Azure Monitor\",\n      \"url\": \"https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2\"\n    },\n@{if(not(equals(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['linkToSearchResultsUI'], null)),\n  json(concat('{\"type\":\"Action.OpenUrl\",\"title\":\"Search Results\",\"url\":\"', triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['linkToSearchResultsUI'], '\"}')),\n  null\n)}\n  ]\n}"
                                                                            },
                                                                            "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                                        }
                                                                    },
                                                                    "Post_message_in_a_chat_or_channel_Default_-_Sev0_-_Common_alert": {
                                                                        "type": "ApiConnection",
                                                                        "inputs": {
                                                                            "host": {
                                                                                "connection": {
                                                                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                                                                }
                                                                            },
                                                                            "method": "post",
                                                                            "body": {
                                                                                "recipient": {
                                                                                    "groupId": "1dd16b9d-85dc-42b4-a5c4-4d2362bfbd39",
                                                                                    "channelId": "19:24c7c668d4444a2eb2e33f7e60ef54dc@thread.tacv2"
                                                                                },
                                                                                "messageBody": "<p class=\"editor-paragraph\">@{triggerBody()?['data']?['essentials']?['alertRule']}</p>"
                                                                            },
                                                                            "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "Sev1_(Error)_-_Common_alert": {
                                                                "case": "Sev1",
                                                                "actions": {
                                                                    "Post_message_in_a_chat_or_channel_Default_-_Sev1_-_Common_alert": {
                                                                        "type": "ApiConnection",
                                                                        "inputs": {
                                                                            "host": {
                                                                                "connection": {
                                                                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                                                                }
                                                                            },
                                                                            "method": "post",
                                                                            "body": {
                                                                                "recipient": {
                                                                                    "groupId": "1dd16b9d-85dc-42b4-a5c4-4d2362bfbd39",
                                                                                    "channelId": "19:24c7c668d4444a2eb2e33f7e60ef54dc@thread.tacv2"
                                                                                },
                                                                                "messageBody": "<p class=\"editor-paragraph\">@{triggerBody()?['data']?['essentials']?['alertRule']}</p>"
                                                                            },
                                                                            "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                                        }
                                                                    },
                                                                    "Post_card_in_a_chat_or_channel_Default_-_Sev1_-_Common_alert": {
                                                                        "type": "ApiConnection",
                                                                        "inputs": {
                                                                            "host": {
                                                                                "connection": {
                                                                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                                                                }
                                                                            },
                                                                            "method": "post",
                                                                            "body": {
                                                                                "recipient": {
                                                                                    "groupId": "1dd16b9d-85dc-42b4-a5c4-4d2362bfbd39",
                                                                                    "channelId": "19:d500d27bd2464011b4fe614bb3184818@thread.tacv2"
                                                                                },
                                                                                "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.5\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"speak\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\",\n    \"themeColor\": \"0072C6\",\n  \"body\": [\n    {\n      \"type\": \"ColumnSet\",\n      \"columns\": [\n        {\n          \"type\": \"Column\",\n          \"width\": \"auto\",\n          \"items\": [\n            {\n              \"type\": \"Image\",\n              \"url\": \"https://azure.microsoft.com/svghandler/Alerts/?width=100&height=100\",\n              \"size\": \"Small\",\n              \"style\": \"Default\",\n              \"altText\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\"\n            }\n          ]\n        },\n        {\n          \"type\": \"Column\",\n          \"width\": \"stretch\",\n          \"items\": [\n            {\n              \"type\": \"TextBlock\",\n              \"text\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\",\n              \"size\": \"Large\",\n              \"weight\": \"Bolder\",\n              \"color\": \"@{if(equals(triggerBody()?['data']?['essentials']?['monitorCondition'],'Resolved'),'good',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev0'),'attention',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev1'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev2'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev3'),'accent',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev4'),'accent','good'))))))}\",\n              \"wrap\": true\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"@{triggerBody()?['data']?['essentials']?['description']}\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n               {\n                \"title\": \"Fired Time:\",\n                \"value\": \"@{if(\n    not(equals(triggerBody()?['data']?['essentials']?['firedDateTime'], null)),\n    formatDateTime(\n        convertFromUtc(\n            triggerBody()?['data']?['essentials']?['firedDateTime'], \n            'GMT Standard Time'\n        ), \n        'dd/MM/yyyy HH:mm:ss'\n    ),\n    null\n)}\"\n              },\n              @{if(not(equals(triggerBody()?['data']?['essentials']?['resolvedDateTime'], null)),\n  concat(json(variables('resolvedTimeString')),','),\n  null\n)}\n              @{if(not(equals(triggerBody()?['data']?['essentials']?['resolvedDateTime'], null)),\r\n  concat(json(variables('resolvedDurationString')),','),\r\n  null\r\n)}\n              {\n                \"title\": \"Severity:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['severity']}\"\n              },\n              {\n                \"title\": \"Monitor Condition:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['monitorCondition']}\"\n              },\n@{if(not(equals(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['metricName'], null)),\n  concat(json(concat('{\"title\":\"Metric Name\",\"value\":\"', triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['metricName'], '\"}')), ','),\n  null\n)}\n@{if(not(equals(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['searchQuery'], null)),\n  concat(json(concat('{\"title\":\"Search Query\",\"value\":\"', replace(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['searchQuery'],'\"','\\\"'), '\"}')), ','),\n  null\n)}\n              {\n                \"title\": \"Operator:\",\n                \"value\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['operator']}\"\n              },\n              {\n                \"title\": \"Threshold:\",\n                \"value\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['threshold']}\"\n              },\n              {\n                \"title\": \"Time Aggregation:\",\n                \"value\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['timeAggregation']}\"\n              },\n              {\n                \"title\": \"Metric Value:\",\n                \"value\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['metricValue']}\"\n              },\n              {\n                \"title\": \"Monitoring Service:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['monitoringService']}\"\n              },\n              {\n                \"title\": \"Resource ID:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['alertTargetIDs']?[0]}\"\n              },\n              {\n                \"title\": \"Configuration Item:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['configurationItems']?[0]}\"\n              }\n      ]\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Azure Monitor\",\n      \"url\": \"https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2\"\n    },\n@{if(not(equals(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['linkToSearchResultsUI'], null)),\n  json(concat('{\"type\":\"Action.OpenUrl\",\"title\":\"Search Results\",\"url\":\"', triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['linkToSearchResultsUI'], '\"}')),\n  null\n)}\n  ]\n}"
                                                                            },
                                                                            "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "default": {
                                                            "actions": {
                                                                "Post_card_in_a_chat_or_channel_Default_-_Common_alert": {
                                                                    "type": "ApiConnection",
                                                                    "inputs": {
                                                                        "host": {
                                                                            "connection": {
                                                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                                                            }
                                                                        },
                                                                        "method": "post",
                                                                        "body": {
                                                                            "recipient": {
                                                                                "groupId": "1dd16b9d-85dc-42b4-a5c4-4d2362bfbd39",
                                                                                "channelId": "19:89bb8b4d816e4077bec013573fc7930c@thread.tacv2"
                                                                            },
                                                                            "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.5\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"speak\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\",\n    \"themeColor\": \"0072C6\",\n  \"body\": [\n    {\n      \"type\": \"ColumnSet\",\n      \"columns\": [\n        {\n          \"type\": \"Column\",\n          \"width\": \"auto\",\n          \"items\": [\n            {\n              \"type\": \"Image\",\n              \"url\": \"https://azure.microsoft.com/svghandler/Alerts/?width=100&height=100\",\n              \"size\": \"Small\",\n              \"style\": \"Default\",\n              \"altText\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\"\n            }\n          ]\n        },\n        {\n          \"type\": \"Column\",\n          \"width\": \"stretch\",\n          \"items\": [\n            {\n              \"type\": \"TextBlock\",\n              \"text\": \"@{triggerBody()?['data']?['essentials']?['alertRule']}\",\n              \"size\": \"Large\",\n              \"weight\": \"Bolder\",\n              \"color\": \"@{if(equals(triggerBody()?['data']?['essentials']?['monitorCondition'],'Resolved'),'good',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev0'),'attention',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev1'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev2'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev3'),'accent',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev4'),'accent','good'))))))}\",\n              \"wrap\": true\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"@{triggerBody()?['data']?['essentials']?['description']}\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n               {\n                \"title\": \"Fired Time:\",\n                \"value\": \"@{if(\n    not(equals(triggerBody()?['data']?['essentials']?['firedDateTime'], null)),\n    formatDateTime(\n        convertFromUtc(\n            triggerBody()?['data']?['essentials']?['firedDateTime'], \n            'GMT Standard Time'\n        ), \n        'dd/MM/yyyy HH:mm:ss'\n    ),\n    null\n)}\"\n              },\n              @{if(not(equals(triggerBody()?['data']?['essentials']?['resolvedDateTime'], null)),\r\n  concat(json(variables('resolvedTimeString')),','),\r\n  null\r\n)}\n              @{if(not(equals(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['searchQuery'], null)),\r\n  concat(json(concat('{\"title\":\"Search Query\",\"value\":\"', replace(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['searchQuery'],'\"','\\\"'), '\"}')), ','),\r\n  null\r\n)}\n              {\n                \"title\": \"Severity:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['severity']}\"\n              },\n              {\n                \"title\": \"Monitor Condition:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['monitorCondition']}\"\n              },\n@{if(not(equals(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['metricName'], null)),\r\n  concat(json(concat('{\"title\":\"Metric Name\",\"value\":\"', triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['metricName'], '\"}')), ','),\r\n  null\r\n)}\n@{if(not(equals(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['searchQuery'], null)),\r\n  concat(json(concat('{\"title\":\"Search Query\",\"value\":\"', replace(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['searchQuery'],'\"','\\\"'), '\"}')), ','),\r\n  null\r\n)}\n              {\n                \"title\": \"Operator:\",\n                \"value\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['operator']}\"\n              },\n              {\n                \"title\": \"Threshold:\",\n                \"value\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['threshold']}\"\n              },\n              {\n                \"title\": \"Time Aggregation:\",\n                \"value\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['timeAggregation']}\"\n              },\n              {\n                \"title\": \"Metric Value:\",\n                \"value\": \"@{triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['metricValue']}\"\n              },\n              {\n                \"title\": \"Monitoring Service:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['monitoringService']}\"\n              },\n              {\n                \"title\": \"Resource ID:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['alertTargetIDs']?[0]}\"\n              },\n              {\n                \"title\": \"Configuration Item:\",\n                \"value\": \"@{triggerBody()?['data']?['essentials']?['configurationItems']?[0]}\"\n              }\n      ]\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Azure Monitor\",\n      \"url\": \"https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2\"\n    },\n@{if(not(equals(triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['linkToSearchResultsUI'], null)),\r\n  json(concat('{\"type\":\"Action.OpenUrl\",\"title\":\"Search Results\",\"url\":\"', triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['linkToSearchResultsUI'], '\"}')),\r\n  null\r\n)}\n  ]\n}"
                                                                        },
                                                                        "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "expression": "@triggerBody()?['data']?['essentials']?['severity']",
                                                        "type": "Switch"
                                                    }
                                                }
                                            },
                                            "expression": "@triggerBody()?['data']?['essentials']?['signalType']",
                                            "type": "Switch"
                                        }
                                    }
                                },
                                "expression": "@triggerBody()?['data']?['essentials']?['monitoringService']",
                                "type": "Switch"
                            }
                        },
                        "else": {
                            "actions": {
                                "eventSource": {
                                    "cases": {
                                        "eventSource_=_ResourceHealth": {
                                            "case": "ResourceHealth",
                                            "actions": {
                                                "Post_Resource_health": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "https://test.com",
                                                        "method": "POST",
                                                        "headers": {
                                                            "Content-Type": "application/json"
                                                        },
                                                        "body": {
                                                            "attachments": [
                                                                {
                                                                    "content": {
                                                                        "$schema": "<http://adaptivecards.io/schemas/adaptive-card.json>",
                                                                        "actions": [
                                                                            {
                                                                                "title": "Azure Monitor",
                                                                                "type": "Action.OpenUrl",
                                                                                "url": "https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2"
                                                                            }
                                                                        ],
                                                                        "body": [
                                                                            {
                                                                                "columns": [
                                                                                    {
                                                                                        "items": [
                                                                                            {
                                                                                                "alttext": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']",
                                                                                                "size": "Small",
                                                                                                "style": "Default",
                                                                                                "type": "Image",
                                                                                                "url": "https://azure.microsoft.com/svghandler/Service-Health/?width=100&height=100"
                                                                                            }
                                                                                        ],
                                                                                        "type": "Column",
                                                                                        "width": "auto"
                                                                                    },
                                                                                    {
                                                                                        "items": [
                                                                                            {
                                                                                                "color": "accent",
                                                                                                "size": "Large",
                                                                                                "text": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']",
                                                                                                "type": "TextBlock",
                                                                                                "weight": "Bolder",
                                                                                                "wrap": true
                                                                                            }
                                                                                        ],
                                                                                        "type": "Column",
                                                                                        "width": "stretch"
                                                                                    }
                                                                                ],
                                                                                "type": "ColumnSet"
                                                                            },
                                                                            {
                                                                                "text": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['details']",
                                                                                "type": "TextBlock",
                                                                                "wrap": true
                                                                            },
                                                                            {
                                                                                "facts": [
                                                                                    {
                                                                                        "title": "Event Source:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['eventSource']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Trigger Time:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['eventTimestamp']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Current Health Status:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['currentHealthStatus']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Previous Health Status:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['previousHealthStatus']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Resource ID:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['resourceId']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Event ID:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['eventDataId']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Operation ID:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['operationId']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Operation Name:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['operationName']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Status:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['status']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Alert Status:",
                                                                                        "value": "@triggerBody()?['data']?['status']"
                                                                                    }
                                                                                ],
                                                                                "type": "FactSet"
                                                                            }
                                                                        ],
                                                                        "speak": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']",
                                                                        "themeColor": "0072C6",
                                                                        "type": "AdaptiveCard",
                                                                        "version": "1.6"
                                                                    },
                                                                    "contentType": "application/vnd.microsoft.card.adaptive"
                                                                }
                                                            ],
                                                            "type": "message"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "eventSource_=_ServiceHealth": {
                                            "case": "ServiceHealth",
                                            "actions": {
                                                "Post_Service_health": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "https://test.com",
                                                        "method": "POST",
                                                        "headers": {
                                                            "Content-Type": "application/json"
                                                        },
                                                        "body": {
                                                            "attachments": [
                                                                {
                                                                    "content": {
                                                                        "$schema": "<http://adaptivecards.io/schemas/adaptive-card.json>",
                                                                        "actions": [
                                                                            {
                                                                                "title": "Azure Monitor",
                                                                                "type": "Action.OpenUrl",
                                                                                "url": "https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2"
                                                                            }
                                                                        ],
                                                                        "body": [
                                                                            {
                                                                                "columns": [
                                                                                    {
                                                                                        "items": [
                                                                                            {
                                                                                                "alttext": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']",
                                                                                                "size": "Small",
                                                                                                "style": "Default",
                                                                                                "type": "Image",
                                                                                                "url": "https://azure.microsoft.com/svghandler/Service-Health/?width=100&height=100"
                                                                                            }
                                                                                        ],
                                                                                        "type": "Column",
                                                                                        "width": "auto"
                                                                                    },
                                                                                    {
                                                                                        "items": [
                                                                                            {
                                                                                                "color": "accent",
                                                                                                "size": "Large",
                                                                                                "text": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']",
                                                                                                "type": "TextBlock",
                                                                                                "weight": "Bolder",
                                                                                                "wrap": true
                                                                                            }
                                                                                        ],
                                                                                        "type": "Column",
                                                                                        "width": "stretch"
                                                                                    }
                                                                                ],
                                                                                "type": "ColumnSet"
                                                                            },
                                                                            {
                                                                                "text": "@replace(triggerBody()?['data']?['context']?['activityLog']?['description'],'<name>','')",
                                                                                "type": "TextBlock",
                                                                                "wrap": true
                                                                            },
                                                                            {
                                                                                "facts": [
                                                                                    {
                                                                                        "title": "Event Source:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['eventSource']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Service:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['service']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Region:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['region']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Communication:",
                                                                                        "value": "@replace(replace(triggerBody()?['data']?['context']?['activityLog']?['properties']?['communication'],'<p>',''),'</p>','')"
                                                                                    },
                                                                                    {
                                                                                        "title": "Incident Type:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['incidentType']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Impact Start Time:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['impactStartTime']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Subscription ID:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['subscriptionId']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Event ID:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['eventDataId']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Operation ID:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['operationId']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Operation Name:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['operationName']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Status:",
                                                                                        "value": "@triggerBody()?['data']?['context']?['activityLog']?['status']"
                                                                                    },
                                                                                    {
                                                                                        "title": "Alert Status:",
                                                                                        "value": "@triggerBody()?['data']?['status']"
                                                                                    }
                                                                                ],
                                                                                "type": "FactSet"
                                                                            }
                                                                        ],
                                                                        "speak": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']",
                                                                        "themeColor": "0072C6",
                                                                        "type": "AdaptiveCard",
                                                                        "version": "1.6"
                                                                    },
                                                                    "contentType": "application/vnd.microsoft.card.adaptive"
                                                                }
                                                            ],
                                                            "type": "message"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {
                                            "MonitoringService": {
                                                "cases": {
                                                    "MonitoringService_=_Log_Alerts_V2": {
                                                        "case": "Log Alerts V2",
                                                        "actions": {
                                                            "Severity_-_Log_Alerts_V2": {
                                                                "cases": {
                                                                    "Sev0_(Critical)_-_Log_Alerts_V2": {
                                                                        "case": "Sev0",
                                                                        "actions": {
                                                                            "Post_Log_Alerts_V2_-_Sev1": {
                                                                                "type": "Http",
                                                                                "inputs": {
                                                                                    "uri": "https://test.com",
                                                                                    "method": "POST",
                                                                                    "headers": {
                                                                                        "Content-Type": "application/json"
                                                                                    },
                                                                                    "body": {
                                                                                        "attachments": [
                                                                                            {
                                                                                                "content": {
                                                                                                    "$schema": "<http://adaptivecards.io/schemas/adaptive-card.json>",
                                                                                                    "actions": [
                                                                                                        {
                                                                                                            "title": "Azure Monitor",
                                                                                                            "type": "Action.OpenUrl",
                                                                                                            "url": "https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2"
                                                                                                        },
                                                                                                        {
                                                                                                            "title": "Search Results",
                                                                                                            "type": "Action.OpenUrl",
                                                                                                            "url": "@triggerBody()?['data']?['alertContext']?['condition']?['allof']?[0]?['linkToSearchResultsUI']"
                                                                                                        }
                                                                                                    ],
                                                                                                    "body": [
                                                                                                        {
                                                                                                            "columns": [
                                                                                                                {
                                                                                                                    "items": [
                                                                                                                        {
                                                                                                                            "alttext": "@triggerBody()?['data']?['essentials']?['alertRule']",
                                                                                                                            "size": "Small",
                                                                                                                            "style": "Default",
                                                                                                                            "type": "Image",
                                                                                                                            "url": "https://azure.microsoft.com/svghandler/Alerts/?width=100&height=100"
                                                                                                                        }
                                                                                                                    ],
                                                                                                                    "type": "Column",
                                                                                                                    "width": "auto"
                                                                                                                },
                                                                                                                {
                                                                                                                    "items": [
                                                                                                                        {
                                                                                                                            "color": "@if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev0'),'attention',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev1'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev2'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev3'),'accent',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev4'),'accent','good')))))",
                                                                                                                            "size": "Large",
                                                                                                                            "text": "@triggerBody()?['data']?['essentials']?['alertRule']",
                                                                                                                            "type": "TextBlock",
                                                                                                                            "weight": "Bolder",
                                                                                                                            "wrap": true
                                                                                                                        }
                                                                                                                    ],
                                                                                                                    "type": "Column",
                                                                                                                    "width": "stretch"
                                                                                                                }
                                                                                                            ],
                                                                                                            "type": "ColumnSet"
                                                                                                        },
                                                                                                        {
                                                                                                            "text": "@triggerBody()?['data']?['essentials']?['description']",
                                                                                                            "type": "TextBlock",
                                                                                                            "wrap": true
                                                                                                        },
                                                                                                        {
                                                                                                            "facts": [
                                                                                                                {
                                                                                                                    "title": "Trigger Time:",
                                                                                                                    "value": "@if(not(equals(triggerBody()?['data']?['essentials']?['firedDateTime'],null)),formatDateTime(triggerBody()?['data']?['essentials']?['firedDateTime'], 'dd/MM/yyyy HH:mm:ss'),null)"
                                                                                                                },
                                                                                                                {
                                                                                                                    "title": "Severity:",
                                                                                                                    "value": "@if(not(equals(triggerBody()?['data']?['essentials']?['severity'],null)),replace(triggerBody()?['data']?['essentials']?['severity'],'Severity',''),null)"
                                                                                                                },
                                                                                                                {
                                                                                                                    "title": "Condition:",
                                                                                                                    "value": "@{if(not(equals(triggerBody()?['data']?['alertContext']?['condition']?['allof']?[0]?['searchQuery'],null)),replace(triggerBody()?['data']?['alertContext']?['condition']?['allof']?[0]?['searchQuery'],'\n','\n\n'),null)}\n\n\n\n@{triggerBody()?['data']?['alertContext']?['condition']?['allof']?[0]?['operator']} @{triggerBody()?['data']?['alertContext']?['condition']?['allof']?[0]?['threshold']}"
                                                                                                                },
                                                                                                                {
                                                                                                                    "title": "Metric Value:",
                                                                                                                    "value": "@triggerBody()?['data']?['alertContext']?['condition']?['allof']?[0]?['metricValue']"
                                                                                                                },
                                                                                                                {
                                                                                                                    "title": "Resource ID:",
                                                                                                                    "value": "@triggerBody()?['data']?['essentials']?['configurationitems']?[0]"
                                                                                                                },
                                                                                                                {
                                                                                                                    "title": "Schema ID:",
                                                                                                                    "value": "@triggerBody()?['schemaId']"
                                                                                                                }
                                                                                                            ],
                                                                                                            "type": "FactSet"
                                                                                                        }
                                                                                                    ],
                                                                                                    "speak": "@triggerBody()?['data']?['essentials']?['alertRule']",
                                                                                                    "themeColor": "0072C6",
                                                                                                    "type": "AdaptiveCard",
                                                                                                    "version": "1.6"
                                                                                                },
                                                                                                "contentType": "application/vnd.microsoft.card.adaptive"
                                                                                            }
                                                                                        ],
                                                                                        "type": "message"
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "default": {
                                                                    "actions": {
                                                                        "Post_Log_Alerts_V2_-_Default": {
                                                                            "type": "Http",
                                                                            "inputs": {
                                                                                "uri": "https://test.com",
                                                                                "method": "POST",
                                                                                "headers": {
                                                                                    "Content-Type": "application/json"
                                                                                },
                                                                                "body": {
                                                                                    "attachments": [
                                                                                        {
                                                                                            "content": {
                                                                                                "$schema": "<http://adaptivecards.io/schemas/adaptive-card.json>",
                                                                                                "actions": [
                                                                                                    {
                                                                                                        "title": "Azure Monitor",
                                                                                                        "type": "Action.OpenUrl",
                                                                                                        "url": "https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2"
                                                                                                    },
                                                                                                    {
                                                                                                        "title": "Search Results",
                                                                                                        "type": "Action.OpenUrl",
                                                                                                        "url": "@triggerBody()?['data']?['alertContext']?['condition']?['allof']?[0]?['linkToSearchResultsUI']"
                                                                                                    }
                                                                                                ],
                                                                                                "body": [
                                                                                                    {
                                                                                                        "columns": [
                                                                                                            {
                                                                                                                "items": [
                                                                                                                    {
                                                                                                                        "alttext": "@triggerBody()?['data']?['essentials']?['alertRule']",
                                                                                                                        "size": "Small",
                                                                                                                        "style": "Default",
                                                                                                                        "type": "Image",
                                                                                                                        "url": "https://azure.microsoft.com/svghandler/Alerts/?width=100&height=100"
                                                                                                                    }
                                                                                                                ],
                                                                                                                "type": "Column",
                                                                                                                "width": "auto"
                                                                                                            },
                                                                                                            {
                                                                                                                "items": [
                                                                                                                    {
                                                                                                                        "color": "@if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev0'),'attention',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev1'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev2'),'warning',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev3'),'accent',if(equals(triggerBody()?['data']?['essentials']?['severity'],'Sev4'),'accent','good')))))",
                                                                                                                        "size": "Large",
                                                                                                                        "text": "@triggerBody()?['data']?['essentials']?['alertRule']",
                                                                                                                        "type": "TextBlock",
                                                                                                                        "weight": "Bolder",
                                                                                                                        "wrap": true
                                                                                                                    }
                                                                                                                ],
                                                                                                                "type": "Column",
                                                                                                                "width": "stretch"
                                                                                                            }
                                                                                                        ],
                                                                                                        "type": "ColumnSet"
                                                                                                    },
                                                                                                    {
                                                                                                        "text": "@triggerBody()?['data']?['essentials']?['description']",
                                                                                                        "type": "TextBlock",
                                                                                                        "wrap": true
                                                                                                    },
                                                                                                    {
                                                                                                        "facts": [
                                                                                                            {
                                                                                                                "title": "Trigger Time:",
                                                                                                                "value": "@if(not(equals(triggerBody()?['data']?['essentials']?['firedDateTime'],null)),formatDateTime(triggerBody()?['data']?['essentials']?['firedDateTime'], 'dd/MM/yyyy HH:mm:ss'),null)"
                                                                                                            },
                                                                                                            {
                                                                                                                "title": "Severity:",
                                                                                                                "value": "@if(not(equals(triggerBody()?['data']?['essentials']?['severity'],null)),replace(triggerBody()?['data']?['essentials']?['severity'],'Severity',''),null)"
                                                                                                            },
                                                                                                            {
                                                                                                                "title": "Condition:",
                                                                                                                "value": "@{if(not(equals(triggerBody()?['data']?['alertContext']?['condition']?['allof']?[0]?['searchQuery'],null)),replace(triggerBody()?['data']?['alertContext']?['condition']?['allof']?[0]?['searchQuery'],'\n','\n\n'),null)}\n\n\n\n@{triggerBody()?['data']?['alertContext']?['condition']?['allof']?[0]?['operator']} @{triggerBody()?['data']?['alertContext']?['condition']?['allof']?[0]?['threshold']}"
                                                                                                            },
                                                                                                            {
                                                                                                                "title": "Metric Value:",
                                                                                                                "value": "@triggerBody()?['data']?['alertContext']?['condition']?['allof']?[0]?['metricValue']"
                                                                                                            },
                                                                                                            {
                                                                                                                "title": "Resource ID:",
                                                                                                                "value": "@triggerBody()?['data']?['essentials']?['configurationitems']?[0]"
                                                                                                            },
                                                                                                            {
                                                                                                                "title": "Schema ID:",
                                                                                                                "value": "@triggerBody()?['schemaId']"
                                                                                                            }
                                                                                                        ],
                                                                                                        "type": "FactSet"
                                                                                                    }
                                                                                                ],
                                                                                                "speak": "@triggerBody()?['data']?['essentials']?['alertRule']",
                                                                                                "themeColor": "0072C6",
                                                                                                "type": "AdaptiveCard",
                                                                                                "version": "1.6"
                                                                                            },
                                                                                            "contentType": "application/vnd.microsoft.card.adaptive"
                                                                                        }
                                                                                    ],
                                                                                    "type": "message"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "expression": "@triggerBody()?['data']?['essentials']?['severity']",
                                                                "type": "Switch"
                                                            }
                                                        }
                                                    }
                                                },
                                                "default": {
                                                    "actions": {
                                                        "Severity": {
                                                            "cases": {
                                                                "0_(Critical)": {
                                                                    "case": "Critical",
                                                                    "actions": {
                                                                        "Post_Default_-_Sev1": {
                                                                            "type": "Http",
                                                                            "inputs": {
                                                                                "uri": "https://test.com",
                                                                                "method": "POST",
                                                                                "headers": {
                                                                                    "Content-Type": "application/json"
                                                                                },
                                                                                "body": {
                                                                                    "attachments": [
                                                                                        {
                                                                                            "content": {
                                                                                                "$schema": "<http://adaptivecards.io/schemas/adaptive-card.json>",
                                                                                                "actions": [
                                                                                                    {
                                                                                                        "title": "Azure Monitor",
                                                                                                        "type": "Action.OpenUrl",
                                                                                                        "url": "https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2"
                                                                                                    }
                                                                                                ],
                                                                                                "body": [
                                                                                                    {
                                                                                                        "columns": [
                                                                                                            {
                                                                                                                "items": [
                                                                                                                    {
                                                                                                                        "alttext": "@triggerBody()?['data']?['context']?['name']",
                                                                                                                        "size": "Small",
                                                                                                                        "style": "Default",
                                                                                                                        "type": "Image",
                                                                                                                        "url": "https://azure.microsoft.com/svghandler/Alerts/?width=100&height=100"
                                                                                                                    }
                                                                                                                ],
                                                                                                                "type": "Column",
                                                                                                                "width": "auto"
                                                                                                            },
                                                                                                            {
                                                                                                                "items": [
                                                                                                                    {
                                                                                                                        "color": "@if(equals(triggerBody()?['data']?['context']?['severity'],'0'),'attention',if(equals(triggerBody()?['data']?['context']?['severity'],'1'),'warning',if(equals(triggerBody()?['data']?['context']?['severity'],'2'),'warning',if(equals(triggerBody()?['data']?['context']?['severity'],'3'),'accent',if(equals(triggerBody()?['data']?['context']?['severity'],'4'),'accent','good')))))",
                                                                                                                        "size": "Large",
                                                                                                                        "text": "@triggerBody()?['data']?['context']?['name']",
                                                                                                                        "type": "TextBlock",
                                                                                                                        "weight": "Bolder",
                                                                                                                        "wrap": true
                                                                                                                    }
                                                                                                                ],
                                                                                                                "type": "Column",
                                                                                                                "width": "stretch"
                                                                                                            }
                                                                                                        ],
                                                                                                        "type": "ColumnSet"
                                                                                                    },
                                                                                                    {
                                                                                                        "text": "@triggerBody()?['data']?['context']?['description']",
                                                                                                        "type": "TextBlock",
                                                                                                        "wrap": true
                                                                                                    },
                                                                                                    {
                                                                                                        "facts": [
                                                                                                            {
                                                                                                                "title": "Trigger Time:",
                                                                                                                "value": "@if(not(equals(triggerBody()?['data']?['context']?['timestamp'],null)),formatDateTime(triggerBody()?['data']?['context']?['timestamp'], 'dd/MM/yyyy HH:mm:ss'),null)"
                                                                                                            },
                                                                                                            {
                                                                                                                "title": "Severity:",
                                                                                                                "value": "@triggerBody()?['data']?['context']?['severity']"
                                                                                                            },
                                                                                                            {
                                                                                                                "title": "Condition:",
                                                                                                                "value": "@{triggerBody()?['data']?['context']?['condition']?['allof']?[0]?['metricName']} @{triggerBody()?['data']?['context']?['condition']?['allof']?[0]?['operator']} @{triggerBody()?['data']?['context']?['condition']?['allof']?[0]?['threshold']}"
                                                                                                            },
                                                                                                            {
                                                                                                                "title": "Metric Value:",
                                                                                                                "value": "@triggerBody()?['data']?['context']?['condition']?['allof']?[0]?['metricValue']"
                                                                                                            },
                                                                                                            {
                                                                                                                "title": "Resource ID:",
                                                                                                                "value": "@triggerBody()?['data']?['context']?['resourceId']"
                                                                                                            },
                                                                                                            {
                                                                                                                "title": "Schema ID:",
                                                                                                                "value": "@triggerBody()?['schemaId']"
                                                                                                            }
                                                                                                        ],
                                                                                                        "type": "FactSet"
                                                                                                    }
                                                                                                ],
                                                                                                "speak": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']",
                                                                                                "themeColor": "0072C6",
                                                                                                "type": "AdaptiveCard",
                                                                                                "version": "1.6"
                                                                                            },
                                                                                            "contentType": "application/vnd.microsoft.card.adaptive"
                                                                                        }
                                                                                    ],
                                                                                    "type": "message"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "default": {
                                                                "actions": {
                                                                    "Post_Default": {
                                                                        "type": "Http",
                                                                        "inputs": {
                                                                            "uri": "https://test.com",
                                                                            "method": "POST",
                                                                            "headers": {
                                                                                "Content-Type": "application/json"
                                                                            },
                                                                            "body": {
                                                                                "attachments": [
                                                                                    {
                                                                                        "content": {
                                                                                            "$schema": "<http://adaptivecards.io/schemas/adaptive-card.json>",
                                                                                            "actions": [
                                                                                                {
                                                                                                    "title": "Azure Monitor",
                                                                                                    "type": "Action.OpenUrl",
                                                                                                    "url": "https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2"
                                                                                                }
                                                                                            ],
                                                                                            "body": [
                                                                                                {
                                                                                                    "columns": [
                                                                                                        {
                                                                                                            "items": [
                                                                                                                {
                                                                                                                    "alttext": "@triggerBody()?['data']?['context']?['name']",
                                                                                                                    "size": "Small",
                                                                                                                    "style": "Default",
                                                                                                                    "type": "Image",
                                                                                                                    "url": "https://azure.microsoft.com/svghandler/Alerts/?width=100&height=100"
                                                                                                                }
                                                                                                            ],
                                                                                                            "type": "Column",
                                                                                                            "width": "auto"
                                                                                                        },
                                                                                                        {
                                                                                                            "items": [
                                                                                                                {
                                                                                                                    "color": "@if(equals(triggerBody()?['data']?['context']?['severity'],'0'),'attention',if(equals(triggerBody()?['data']?['context']?['severity'],'1'),'warning',if(equals(triggerBody()?['data']?['context']?['severity'],'2'),'warning',if(equals(triggerBody()?['data']?['context']?['severity'],'3'),'accent',if(equals(triggerBody()?['data']?['context']?['severity'],'4'),'accent','good')))))",
                                                                                                                    "size": "Large",
                                                                                                                    "text": "@triggerBody()?['data']?['context']?['name']",
                                                                                                                    "type": "TextBlock",
                                                                                                                    "weight": "Bolder",
                                                                                                                    "wrap": true
                                                                                                                }
                                                                                                            ],
                                                                                                            "type": "Column",
                                                                                                            "width": "stretch"
                                                                                                        }
                                                                                                    ],
                                                                                                    "type": "ColumnSet"
                                                                                                },
                                                                                                {
                                                                                                    "text": "@triggerBody()?['data']?['context']?['description']",
                                                                                                    "type": "TextBlock",
                                                                                                    "wrap": true
                                                                                                },
                                                                                                {
                                                                                                    "facts": [
                                                                                                        {
                                                                                                            "title": "Trigger Time:",
                                                                                                            "value": "@if(not(equals(triggerBody()?['data']?['context']?['timestamp'],null)),formatDateTime(triggerBody()?['data']?['context']?['timestamp'], 'dd/MM/yyyy HH:mm:ss'),null)"
                                                                                                        },
                                                                                                        {
                                                                                                            "title": "Severity:",
                                                                                                            "value": "@triggerBody()?['data']?['context']?['severity']"
                                                                                                        },
                                                                                                        {
                                                                                                            "title": "Condition:",
                                                                                                            "value": "@{triggerBody()?['data']?['context']?['condition']?['allof']?[0]?['metricName']} @{triggerBody()?['data']?['context']?['condition']?['allof']?[0]?['operator']} @{triggerBody()?['data']?['context']?['condition']?['allof']?[0]?['threshold']}"
                                                                                                        },
                                                                                                        {
                                                                                                            "title": "Metric Value:",
                                                                                                            "value": "@triggerBody()?['data']?['context']?['condition']?['allof']?[0]?['metricValue']"
                                                                                                        },
                                                                                                        {
                                                                                                            "title": "Resource ID:",
                                                                                                            "value": "@triggerBody()?['data']?['context']?['resourceId']"
                                                                                                        },
                                                                                                        {
                                                                                                            "title": "Schema ID:",
                                                                                                            "value": "@triggerBody()?['schemaId']"
                                                                                                        }
                                                                                                    ],
                                                                                                    "type": "FactSet"
                                                                                                }
                                                                                            ],
                                                                                            "speak": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']",
                                                                                            "themeColor": "0072C6",
                                                                                            "type": "AdaptiveCard",
                                                                                            "version": "1.6"
                                                                                        },
                                                                                        "contentType": "application/vnd.microsoft.card.adaptive"
                                                                                    }
                                                                                ],
                                                                                "type": "message"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "expression": "@triggerBody()?['data']?['context']?['activityLog']?['level']",
                                                            "type": "Switch"
                                                        }
                                                    }
                                                },
                                                "expression": "@if(not(equals(triggerBody()?['data']?['essentials']?['monitoringService'],null)),triggerBody()?['data']?['essentials']?['monitoringService'],'Default')",
                                                "type": "Switch"
                                            }
                                        }
                                    },
                                    "expression": "@triggerBody()?['data']?['context']?['activityLog']?['eventSource']",
                                    "type": "Switch"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@triggerBody()?['data']?['context']?['activityLog']?['eventSource']",
                                        "@null"
                                    ]
                                }
                            ]
                        },
                        "type": "If"
                    }
                },
                "runAfter": {
                    "Initialize_variable_-_resolvedDurationString": [
                        "Succeeded"
                    ]
                },
                "else": {
                    "actions": {
                        "Post_Else_Default": {
                            "type": "Http",
                            "inputs": {
                                "uri": "https://vmddefra.webhook.office.com/webhookb2/1dd16b9d-85dc-42b4-a5c4-4d2362bfbd39@af4da980-4af8-4d32-a4ef-4c59ffe06ef4/IncomingWebhook/cbd9f16a76b34eb987ddaa6c20f0491c/aafd5f65-6893-4e98-a108-d5c763c090f8",
                                "method": "POST",
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "body": {
                                    "attachments": [
                                        {
                                            "content": {
                                                "$schema": "<http://adaptivecards.io/schemas/adaptive-card.json>",
                                                "actions": [
                                                    {
                                                        "title": "Azure Monitor",
                                                        "type": "Action.OpenUrl",
                                                        "url": "https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2"
                                                    }
                                                ],
                                                "body": [
                                                    {
                                                        "columns": [
                                                            {
                                                                "items": [
                                                                    {
                                                                        "alttext": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']",
                                                                        "size": "Small",
                                                                        "style": "Default",
                                                                        "type": "Image",
                                                                        "url": "https://azure.microsoft.com/svghandler/Activity-Log/?width=100&height=100"
                                                                    }
                                                                ],
                                                                "type": "Column",
                                                                "width": "auto"
                                                            },
                                                            {
                                                                "items": [
                                                                    {
                                                                        "color": "accent",
                                                                        "size": "Large",
                                                                        "text": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']",
                                                                        "type": "TextBlock",
                                                                        "weight": "Bolder",
                                                                        "wrap": true
                                                                    }
                                                                ],
                                                                "type": "Column",
                                                                "width": "stretch"
                                                            }
                                                        ],
                                                        "type": "ColumnSet"
                                                    },
                                                    {
                                                        "text": "@triggerBody()?['data']?['context']?['activityLog']?['description']",
                                                        "type": "TextBlock",
                                                        "wrap": true
                                                    },
                                                    {
                                                        "facts": [
                                                            {
                                                                "title": "Event Type:",
                                                                "value": "@triggerBody()?[0]?['eventType']"
                                                            },
                                                            {
                                                                "title": "Topic:",
                                                                "value": "@triggerBody()?[0]?['topic']"
                                                            }
                                                        ],
                                                        "type": "FactSet"
                                                    }
                                                ],
                                                "speak": "@triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']",
                                                "themeColor": "0072C6",
                                                "type": "AdaptiveCard",
                                                "version": "1.6"
                                            },
                                            "contentType": "application/vnd.microsoft.card.adaptive"
                                        }
                                    ],
                                    "type": "message"
                                }
                            }
                        }
                    }
                },
                "expression": {
                    "or": [
                        {
                            "contains": [
                                "@triggerBody()",
                                "schemaId"
                            ]
                        }
                    ]
                },
                "type": "If"
            },
            "Initialize_variable_-_ImpactedRegions": {
                "runAfter": {},
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ImpactedRegions",
                            "type": "string"
                        }
                    ]
                }
            },
            "Initialize_variable_-_resolvedTimeString": {
                "runAfter": {
                    "Initialize_variable_-_ImpactedRegions": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "resolvedTimeString",
                            "type": "string",
                            "value": "@if(\r\n  equals(triggerBody()?['data']?['essentials']?['resolvedDateTime'], null),\r\n  null,\r\n  concat(\r\n    '{',\r\n      '\"title\": \"Resolved Time:\",',\r\n      '\"value\": \"', formatDateTime(convertFromUtc(triggerBody()?['data']?['essentials']?['resolvedDateTime'], 'GMT Standard Time'), 'dd/MM/yyyy HH:mm:ss'), '\"',\r\n    '}'\r\n  )\r\n)"
                        }
                    ]
                }
            },
            "Initialize_variable_-_resolvedDurationString": {
                "runAfter": {
                    "Initialize_variable_-_resolvedTimeString": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "resolvedDurationString",
                            "type": "string",
                            "value": "@if(\r\n  equals(triggerBody()?['data']?['essentials']?['resolvedDateTime'], null),\r\n  null,\r\n  concat(\r\n    '{',\r\n      '\"title\": \"Duration:\",',\r\n      '\"value\": \"', \r\n      div(\r\n        sub(\r\n          ticks(triggerBody()?['data']?['essentials']?['resolvedDateTime']),\r\n          ticks(triggerBody()?['data']?['essentials']?['firedDateTime'])\r\n        ),\r\n        600000000\r\n      ), ' minutes\"',\r\n    '}'\r\n  )\r\n)"
                        }
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "teams": {
                    "id": "/subscriptions/73a3b017-dcbb-4c6f-8f73-de4ab983f819/providers/Microsoft.Web/locations/uksouth/managedApis/teams",
                    "connectionId": "/subscriptions/73a3b017-dcbb-4c6f-8f73-de4ab983f819/resourceGroups/rg-monitoring-prod-uksouth/providers/Microsoft.Web/connections/teams",
                    "connectionName": "teams"
                },
                "conversionservice-1": {
                    "id": "/subscriptions/73a3b017-dcbb-4c6f-8f73-de4ab983f819/providers/Microsoft.Web/locations/uksouth/managedApis/conversionservice",
                    "connectionId": "/subscriptions/73a3b017-dcbb-4c6f-8f73-de4ab983f819/resourceGroups/rg-monitoring-prod-uksouth/providers/Microsoft.Web/connections/conversionservice",
                    "connectionName": "conversionservice"
                }
            }
        }
    }
}